
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get the Perfect Face Capture</title>
    <style>
      body {
        font-family: sans-serif;
        margin: 1.5rem;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,41,1) 65%, rgba(0,212,255,1) 100%);
       color: aliceblue;
      }
      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
      .tip {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      
    </style>
  </head>
  <body>
    <h2>No Face Detected</h2>
    <h2>Capture Tips for a Smooth Experience</h2>
    <p>
      To ensure your face is recognized perfectly, here are some quick tips to
      keep in mind while capturing your photo:
    </p>

    <section>
      <h3>Lighting Matters!</h3>
      <p>
        Lighting can affect how clearly your face shows. Here's what to avoid:
      </p>
      <ul>
        <li class="tip">Dim lighting:** Makes your features hard to see.</li>
        <li class="tip">
          Harsh shadows:** Creates uneven lighting across your face.
        </li>
        <li class="tip">Backlight:** Makes your face appear dark.</li>
      </ul>
      <p>Aim for:</p>
      <ul>
        <li class="tip">
          Bright, even lighting:** Natural light from a window is ideal.
        </li>
      </ul>
    </section>
    <p>
      By following these simple tips, you'll get a clear face capture that works
      best with our application.
    </p>
  </body>
</html> 